lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

#
# Don't store our development config as this would contain actual credentials.
#
config/development.yaml
config/runtime.json

